@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #111;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  margin: 1rem;
  border: 1px solid lightgray;
  border-radius: 10px;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

p {
  font-size: 1.4rem;
}

a {
  font-size: 1.4rem;
  color: rgb(0, 157, 255);
  text-decoration: none;
}

a:active {
  color: orangered;
}

a:hover {
  opacity: 0.7;
}

table,
tr,
td,
th,
caption {
  border: 1px solid rgba(0, 157, 255, 0.721);
  padding: 0.5rem;
  border-collapse: collapse;
}
